* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 10px 8px;
  font-size: 19px;
  font-family: 'Source Serif Pro', serif;

  /* colors, style & size for background animation */
  background-color: white;
  /* background: linear-gradient(270deg, #ffffff, #dadada); */
  background-size: 400% 400%;

  /* animation declared in body selector */
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

/*animation for body & background */

@-webkit-keyframes AnimationName {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}
@keyframes AnimationName {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}



@media screen and (min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
  div.form {
    max-width: 768px;
    margin: 0 auto;
}
 
}

/* for header */
body header {
  display: flex;
  align-items: center; /* Vertically align */
  padding: 5px 16px;
  color: #7c0b14;
  background-color: white;
  /*border-radius: 8px; */
  border: 8px solid #7c0b14;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: 'Source Serif Pro', serif;
 
  
}


/* header inks */
header > a:link,
header > a:visited,
header > a:hover {
  color: black;
  text-decoration: none;
  
  
}

header > a:hover {
  text-decoration: underline;
  
}

.link--home {
  flex-grow: 1;
  font-size: 2em;
  font-weight: 900;
}

.link--blog {
  flex-grow: 1;
  font-size: 0.8em;
  text-align: right;
  font-weight: 700;
}

.link--about {
  flex-grow: 1;
  font-size: 0.8em;
  text-align: right;
  font-weight: 700;
}

.link--experiments {
  flex-grow: 1;
  font-size: 0.8em;
  text-align: right;
  font-weight: 700;
}

.link--footer {
  flex-grow: 1;
  font-size: 1em;
}

.last-text {
  font-size: 1.5em;
  text-align: center;
}

p#subtitle{
  font-weight: 900;
  font-size: 1.0em;
  margin-top: -3.0em;
}

p#subtitle1 {
  font-weight: 900;
  font-size: 1.0em;
}



/*  ---------------DARK MODE THEME--------------------------------- */
#dark-button{
	margin-bottom: 8px;
  margin-top: 20px;
  border: 2px solid black;
  width: 100px;
  height: 40px;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
  font-family: 'Source Serif Pro', serif;
}
.dark{
	color:white;
	background-color: #181717;
   
}

/* blog post title links */
.dark h1 >a:link, h1 >a:visited {
  color: #E63E6D;
}

.dark h1 >a:hover {
  color: #E63E6Da2;
}

.dark h1 >a:visited {
  color: #E63E6D;
}

/* header attributes */

.dark header {
  background-color: black;
  border: 8px solid #E63E6D;
  
}
.dark header a {
  color: white;
}


/* footer attributes */
.dark #lab_social_icon_footer a {
  color:white;
}

.dark footer {
  color: white;
}

.dark footer a {
  color: #E63E6D;
}

/* links in paragrpahs */
.dark p a {
  color: #E63E6D;
}

/* theme for dark mode toggle */
.dark #dark-button {
  background-color: #B42B51;
  color: white;
  border: 2px solid white;
}

/*  -----------------END OF DARK MODE THEME------------------------------- */






main {
  padding: 5px 16px;
  word-wrap:break-word;
}

footer {
  padding: 35px 0 25px 0;
  text-align: center;
  font-size: 1em;
  color: #666666;
}

h1,
h2 {
  font-family: 'Source Serif Pro', serif;
  margin: 25px 0 2px 0;
}

h1 {
  font-size: 2em;
}

h1 > a:link,
h1 > a:visited {
  color: #7c0b14;
  text-decoration: none;
}

h1 > a:hover {
  color: #7c0b14a2;
  text-decoration: underline;
}

h2 {
  font-size: 1.5em;
}

a:link,
a:visited {
  color: #7c0b14;
}

a:hover {
  color: #7c0b1493;
}

time {
  color: #666666;
}

article img {
  width: 100%;
  height: auto;
}

h3  {
  text-align: center;
}

/* new footer */

#lab_social_icon_footer {
  padding: 40px 0;
  text-align: center;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #cc3030;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-dr:hover {
  color: #992de0;
}

#lab_social_icon_footer #social-gh:hover {
  color: #f39c12;
}

#lab_social_icon_footer #social-dv:hover {
  color: #0cb845;
}

#lab_social_icon_footer #social-em:hover {
  color: #d7eb26;
}



.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.vertline {
  border-right: 1px solid rgb(255, 255, 255);

}


a.links {
  border-radius: 3px;
}


/* CONTACT FORM */
div.form {
   
  border-radius: 5px; 
  padding: 1px 30px; 
  width: 75%;
  border: 6px solid #000000;

}

h2.form {
  font-size:30px
}

input.forminput1 {
  margin-top: 5px; 
  background-color: #fff; 
  height:35px; 
  width:235px;
  border-radius: 8px;
  border: 3px solid #000000;
}

input.forminput2 {
  margin-top: 5px; 
  background-color: #fff; 
  height:35px; 
  width:235px;
  border-radius: 8px;
  border: 3px solid #000000;
}

textarea {
  margin-top: 5px;
  background-color: #fff; 
  height:50px; 
  width:235px;
  border-radius: 8px;
  border: 3px solid #000000;
}

button.submission {
  font-size:14px; 
  background-color:#7c0b14; 
  color:#fff; 
  font-weight:bold; 
  padding:10px 35px; 
  margin: 5px 0 0 0;
  border-radius: 8px;
  

}
