/*animation for body & background */
@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 36%;
	}
	50% {
		background-position: 100% 65%;
	}
	100% {
		background-position: 0% 36%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 36%;
	}
	50% {
		background-position: 100% 65%;
	}
	100% {
		background-position: 0% 36%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 36%;
	}
	50% {
		background-position: 100% 65%;
	}
	100% {
		background-position: 0% 36%;
	}
}
/* for header */
/* header links */
/* -----for subtitle text in main page---- */
/* -------------end of subtitle text----------- */
/*  ---------------DARK MODE THEME--------------------------------- */
/* blog post title links */
/* header attributes */
/* footer attributes */
/* links in paragrpahs */
/* theme for dark mode toggle */
/*  -----------------END OF DARK MODE THEME------------------------------- */
/* new footer */
/*
    Multicoloured Hover Variations
*/
/* CONTACT FORM */
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	margin: 0, auto;
	padding: 10px 8px;
	font-size: 19px;
	font-family: 'IBM Plex Mono', monospace;
	background-color: white;
	background-size: 400% 400%;
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
	header {
		display: flex;
		align-items: center;
		
		color: #7c0b14;
		background-color: white;
		border: 8px solid #7c0b14;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		font-family: 'IBM Plex Mono', monospace;
	}

	header ul {
		margin: 0%;
		padding: 0%;
		list-style-type: none;
		display: flex;
		align-items: center;
	}
}
h1#about {
	font-size: 2.2em;
}
h1#contact {
	font-size: 2.2em;
}
header {
	>a {
		&:link {
			color: black;
			text-decoration: none;
		}
		&:visited {
			color: black;
			text-decoration: none;
		}
		&:hover {
			color: black;
			text-decoration: none;
			text-decoration: underline;
		}
	}
	a#current {
		color: #7c0b14;
	}
}

/*  ---------------DARK MODE THEME--------------------------------- */
.dark {
  /* header attributes and /* blog post title links */
	header {
		a#current {
			color: #E63E6D;
		}
		background-color: black;
		border: 8px solid #E63E6D;
		a {
			color: white;
		}
	}
	color: white;
	background-color: #181717;
	h1 {
		>a {
			&:link {
				color: #E63E6D;
			}
			&:hover {
				color: #E63E6Da2;
			}
			&:visited {
				color: #E63E6D;
			}
		}
	}
	#lab_social_icon_footer {
		a {
			color: white;
		}
	}
  /* footer attributes */
	footer {
		color: white;
		a {
			color: #E63E6D;
		}
	}
  /* links in paragrpahs */
	p {
		a {
			color: #E63E6D;
		}
	}
  /* theme for dark mode toggle */
	#dark-button {
		background-color: #B42B51;
		color: white;
		border: 2px solid white;
	}
}
/*  -----------------END OF DARK MODE THEME------------------------------- */


.header ul li a {
	padding: 8px;
	display: block;
}
.link--home {
	display: block;
	padding: 0 8px;
	font-size: 24px;
	font-weight: 900;
	flex-grow: 1;
}
.link--blog {
	padding: 8px;
	display: block;
	flex-grow: 1;
	font-size: 0.75rem;
	font-weight: 600;
	
	
}
.link--about {
	padding: 8px;
	display: block;
	flex-grow: 1;
	font-size: 0.75rem;
	font-weight: 600;
	
	
}
.link--experiments {
	padding: 8px;
	display: block;
	flex-grow: 1;
	font-size: 0.75rem;
	font-weight: 600;
	
	
}

.link--footer {
	flex-grow: 1;
	font-size: 1em;
	
}
.last-text {
	font-size: 1.5em;
	text-align: center;
}
p#subtitle {
	font-weight: 600;
	font-size: 13px;
	margin-top: -3.0em;
}
p#subtitle1 {
	font-weight: 600;
	font-size: 13px;
}
p {
	em {
		strong {
			font-size: 15px;
		}
	}
	img {
		width: 100%;
	}
}
#dark-button {
	margin-bottom: 8px;
	border: 3px solid black;
	border-style: solid dashed solid dashed;
	width: 70px;
	height: 40px;
	position: relative;
	left: 100%;
	transform: translateX(-100%);
	font-family: 'IBM Plex Mono', monospace;
}
h1 {
	>a {
		&:visited {
			color: #E63E6D;
			color: #7c0b14;
			text-decoration: none;
		}
		&:link {
			color: #7c0b14;
			text-decoration: none;
		}
		&:hover {
			color: #7c0b14a2;
			text-decoration: underline;
		}
	}
	font-family: 'IBM Plex Mono', monospace;
	margin: 25px 0 2px 0;
	font-size: 1.5em;
}
main {
	padding: 5px 16px;
	word-wrap: break-word;
}
footer {
	padding: 35px 0 25px 0;
	text-align: center;
	font-size: 1em;
	color: #666666;
}
h2 {
	font-family: 'IBM Plex Mono', monospace;
	margin: 25px 0 2px 0;
	font-size: 1.5em;
}
a {
	cursor: grab;
	&:link {
		color: #7c0b14;
	}
	&:visited {
		color: #7c0b14;
	}
	&:hover {
		color: #7c0b1493;
		cursor: grab;
	}
}
time {
	color: #666666;
}
article {
	img {
		width: 100%;
		height: auto;
	}
}
h3 {
	text-align: center;
}
#lab_social_icon_footer {
	padding: 40px 0;
	text-align: center;
	a {
		color: #333;
		font-size: 1em;
	}
	.social {
		&:hover {
			-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			-o-transform: scale(1.1);
		}
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-o-transform: scale(0.8);
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
	}
	#social-fb {
		&:hover {
			color: #cc3030;
		}
	}
	#social-tw {
		&:hover {
			color: #4099FF;
		}
	}
	#social-dr {
		&:hover {
			color: #992de0;
		}
	}
	#social-gh {
		&:hover {
			color: #f39c12;
		}
	}
	#social-dv {
		&:hover {
			color: #0cb845;
		}
	}
	#social-em {
		&:hover {
			color: #ff4444;
		}
	}
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 20px;
	align-items: stretch;
	img {
		border: 1px solid #ccc;
		box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
		max-width: 100%;
	}
}
.vertline {
	border-right: 1px solid rgb(255, 255, 255);
}
a.links {
	border-radius: 3px;
}
div.form {
	border-radius: 5px;
	padding: 1px 30px;
	width: 75%;
	border: 6px solid #000000;
}
h2.form {
	font-size: 30px;
}
input.forminput1 {
	margin-top: 5px;
	background-color: #fff;
	height: 35px;
	width: 235px;
	border-radius: 8px;
	border: 3px solid #000000;
	font-size: 0.6em;
	font-family: 'IBM Plex Mono', monospace;
}
input.forminput2 {
	margin-top: 5px;
	background-color: #fff;
	height: 35px;
	width: 235px;
	border-radius: 8px;
	border: 3px solid #000000;
	font-size: 0.6em;
	font-family: 'IBM Plex Mono', monospace;
}
textarea.forminput3 {
	margin-top: 5px;
	background-color: #fff;
	height: 50px;
	width: 235px;
	border-radius: 8px;
	border: 3px solid #000000;
	
	font-family: 'IBM Plex Mono', monospace;
}
button.submission {
	font-size: 14px;
	background-color: #7c0b14;
	color: #fff;
	font-weight: bold;
	padding: 10px 35px;
	margin: 5px 0 0 0;
	border-radius: 8px;
}
.cursor {
	position: fixed;
	width: 0;
	height: 0;
	border: 10px solid #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: width 0.2s, height 0.2s;
}
.cursor.link {
	width: 60px;
	height: 60px;
	border: 2px solid #f50000;
}
div.iframe-container {
	overflow: hidden;
	padding-top: 55%;
	position: relative;
}
.iframe-container {
	iframe {
		border: 0;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		height: 50%;
	}
}
@media screen and (min-width: 768px) {
	body {
		max-width: 768px;
		margin: 0 auto;
	}
	div.form {
		max-width: 768px;
		margin: 0 auto;
	}
	iframe {
		max-width: 768px;
		margin: 0 auto;
	}
	.rc-anchor-light {
		transform: scale(0.85);
		-webkit-transform: scale(0.85);
		width: 235px;
		background: #7c0b14 !important;
		color: #fff !important;
	}
}

.realistic-marker-highlight {
	position: relative;
  font-weight: bold;
	&:before {
		content: "";
		background-color: #ff6db7;
		width: 100%;
		height: 1.5em;
		position: absolute;
		z-index: -1;
		filter: url(#marker-shape);
		left: -0.25em;
		top: 0.1em;
		padding: 0 0.25em;
    
	}
}