---
permalink: '/feed.json'
---
{
  "posts": [
    {% for post in collections.post %}
      {
        "title": "{{ post.data.title }}",
        "url": "{{ post.url }}"
      }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
