---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 15
  reverse: true
  alias: posts
---
<br>
<br>
<br>



<h2>I'm Montique, a NYC-based Frontend Technologist who loves creating artful, fluid, and highly functional tools for the online world.
I’m interested in remote and hybrid opportunities, consulting, and collaborative projects that turn information design, multimedia computing, & data into meaningful impact.</h2>
<br>


<h4>Currently:</h4>

<p class="yearlist">2026</p>
<ul>
<li>Completing a visual revamp of my site.</li>

<li>Diving into the world of D3.js</li>

<li>Posting more here and in my favorite places.</li>

<li>Balancing being online and being present offline</li>

</ul>

<p class="yearlist">2025</p>
<ul> 
<li>Spending time with family and taking much needed rest</li>

</ul>

<p class="yearlist">2024</p>
<ul>
<li>Experimenting with generative art concepts using p5.js.</li>

<li>Completing a visual revamp of my site.</li>

<li>Documenting my journey as a Web Developer and finding my stride.</li>

</ul>





