---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 15
  reverse: true
  alias: posts
---
<br>
<br>
<br>



<h2>I'm Montique, a NYC-based Frontend Engineer who loves creating artful, fluid, and highly functional things for the online world.</h2>

<h2>I am currently OPEN to remote/hybrid work, consulting, and collabs on projects that promote positive social impact through the intersection of information design, multimedia computing, and technology.</h2>

<br>

<h4>Currently</h4>

<p class="yearlist">2024</p>
<ul>
<li>Experimenting with generative art concepts using p5.js.</li>

<li>Studying Web Accessibility following WCAG and ARIA guidelines.</li>

<li>Completing a visual revamp of my site.</li>

<li>Reading one book a month as part of a New Year challenge.</li>
</ul>





