<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8">
  <title>Objector</title> 
  <meta name="description" content="A website about tech, design, and related topics"> 
  <meta name="author" content="Montique Stevens"> 
  <meta name="keywords" content="programming, design, blog, software">
  <meta name="og:url" content="https://objector.dev">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <script src="https://www.google.com/recaptcha/api.js?render=r6LdyahQdAAAAABcDYhQQpvwufOUoHlGSYVGxOikP"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
 



   <link rel="stylesheet" href="/css/site.css">

 <!-- <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

</head> 


<body> 
 

  <header>
  <a href="/" class="link--home">Objector</a>

  <a href="/About" class="link--about">About</a>
 <br>
 <br>
  <a href="/Contact" class="link--blog">Contact</a>
<br>
<br>
   <a href="/Experiments" class="link--experiments">Experiments</a>
  
</header>

<br>
	<button id="dark-button" onclick="darkToggle()"></button>

  <main> 
    {{ content | safe }}

    
  </main> 

  <br>
  <br>
  
  <h1 class="last-text">Lets Connect!</h1>
  
<section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"   rel="stylesheet">
<div class="container">
        <div class="text-center center-block">
               <!-- <a href="https://nycbeardo.design"><i id="social-fb" class="fas fa-plus-square fa-3x social"></i></a> -->
	            <a href="https://twitter.com/nycbeardo"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
	            <a href="https://polywork.com/mstevens"><i id="social-dr" class="fas fa-external-link-square-alt fa-3x social"></i></a>
	            <a href="https://github.com/nycbeardo"><i id="social-gh" class="fab fa-github-square fa-3x social"></i></a>
              <a href="https://dev.to/nycbeardo"><i id="social-dv" class="fab fa-dev fa-3x social"></i></a>
             <a href="https://calendly.com/mksdesign"><i id="social-em" class="fas fa-share-square fa-3x social"></i></a>
    </div>
</div>
</section>


<br>






<footer>Made with love by Montique Stevens with <a href="https://www.11ty.dev/" class="link--footer">Eleventy</a>, a dash of my custom coded HTML/CSS/JS and a sprinkle of Font Awesome for the icons. 
NodeJS provides the modules necessary for my blog. TailwindCSS is used for additional styling. The fonts for Body and Header use IBM Plex Mono, courtesy of <a href="https://fonts.google.com/" classs="link--footer"> Google Fonts.</a>
Copyright 2019-2021© </footer> 


<script src="/custom.js"></script>
<script src="/dark.js"></script>
<script src="/cursor.js"></script>




</body> 
</html>