<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Objector</title> 

   <link rel="stylesheet" href="/css/site.css">
 <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
</head> 
<body> 
 
  <header>
  <a href="/" class="link--home">Objector</a>
  <a href="/About" class="link--about">About</a>
</header>
  <main> 
    {{ content | safe }}
  </main> 
  <footer>Montique Stevens</footer> 
</body> 
</html>