<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Objector</title> 

   <link rel="stylesheet" href="/css/site.css">
 <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
</head> 
<body> 
 
  <header>
  <a href="/" class="link--home">Objector</a>
  <a href="/About" class="link--about">About</a>
  
</header>
  <main> 
    {{ content | safe }}
  </main> 

  <br>
  <br>
  
  <h1 class="last-text">Lets Connect!</h1>
<section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"   rel="stylesheet">
<div class="container">
        <div class="text-center center-block">
                <a href="https://nycbeardo.design"><i id="social-fb" class="fas fa-plus-square fa-3x social"></i></a>
	            <a href="https://twitter.com/nycbeardo"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
	            <a href="https://dribbble.com/nycbeardo"><i id="social-dr" class="fab fa-dribbble-square fa-3x social"></i></a>
	            <a href="https://github.com/nycbeardo"><i id="social-gh" class="fab fa-github-square fa-3x social"></i></a>
              <a href="https://dev.to/nycbeardo"><i id="social-dv" class="fab fa-dev fa-3x social"></i></a>
              <a href="mailto:hey@nycbeardo.design"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>
</section>

<footer>Made with love by Montique Stevens in <a href="https://www.11ty.dev/" class="link--footer">Eleventy</a> with a dash of CSS, HTML, and a sprinkle of Font Awesome. Copyright 2020 ©  </footer> 


</body> 
</html>